// Variables
html {
  --mainColor: #34a3a3; /* Amarelo forte (dourado) */
  --secondColor: #2671f3; /* Amarelo claro */
  --thirdColor: #1a1a1a; /* Preto suave */
  --pink: #e5e5e5; /* Cinza claro */
  --green-alt: #34a3a3; /* Cinza médio */
  --purple: #34a3a3; /* Cinza escuro */
  --bg: black; /* Preto */
  --darkBlue: #0d0d0d; /* Preto levemente mais claro */
  --white: white; /* Branco */
  --whiteLight: #f2f2f2; /* Branco suave */
}

html[data-theme="light"] {
  --mainColor: #34a3a3; /* Amarelo mais suave */
  --secondColor: #2671f3; /* Amarelo muito claro */
  --thirdColor: #cccccc; /* Cinza médio */
  --pink: #f0e68c; /* Amarelo claro */
  --green-alt: #34a3a3; /* Cinza claro */
  --purple: #34a3a3; /* Cinza suave */
  --bg: #ffffff; /* Branco */
  --darkBlue: #eaeaea; /* Quase branco */
  --white: #1a1a1a; /* Preto suave */
  --whiteLight: #404040; /* Cinza escuro */
}